<audio controls #audioPlayer >
    <source [src]="selectedAudio">
    </audio>
    
    <div class="wrapper" [ngStyle]="{ 'background-color': backgroundColor , 'width': width, 'height': height }">
    
    
    
    <div class="container" >
    
    <div class="controls">
    
        <!-- repeat button starts -->
        <!-- not active -->
        <!-- <svg id="Layer_1" *ngIf="repeat && !isRepeat" (click)="repeatAudio()" data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" [ngStyle]="{ 'fill' : repeatButtonColor }">
        <title>repeat-on</title>
        <path class="cls-1"
            d="M13.78,64a1.14,1.14,0,0,1-.8-.3L.26,51.3a1.07,1.07,0,0,1-.1-1.4l.1-.1L13,37.5a1.06,1.06,0,0,1,1.2-.2,1.2,1.2,0,0,1,.7,1v7.6H49.72a1.84,1.84,0,0,0,1.8-1.7V35.6a.91.91,0,0,1,.3-.7l8.51-8.3a1.06,1.06,0,0,1,1.2-.2,1.2,1.2,0,0,1,.7,1V46c0,6.7-3.6,10.2-10.51,10.2H14.88v6.7a1,1,0,0,1-.7,1A.6.6,0,0,1,13.78,64Z"
            transform="translate(0.05 0)" />
        <path class="cls-1"
            d="M3,37.8a.6.6,0,0,1-.4-.1,1.09,1.09,0,0,1-.7-1V18C2,11.3,5.57,7.8,12.48,7.8H49.22V1.1a1.2,1.2,0,0,1,.7-1A.94.94,0,0,1,51,.3L63.64,12.7a1.07,1.07,0,0,1,.1,1.4l-.1.1L51,26.5a1.06,1.06,0,0,1-1.2.2,1.09,1.09,0,0,1-.7-1V18.1H14.38a1.69,1.69,0,0,0-1.7,1.7v8.6a1.14,1.14,0,0,1-.3.8L3.87,37.5A3.18,3.18,0,0,1,3,37.8Z"
            transform="translate(0.05 0)" />
        </svg> -->
    
        <!-- active -->
        <!-- <svg id="Layer_1" *ngIf="repeat && isRepeat" (click)="repeatAudio()" data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.98 64.03" [ngStyle]="{ 'fill' : activeRepeatButtonColor ,width: '19px'}">
        <style>
            .cls{
            fill: green
            }
        </style>
        <title>repeat-off</title>
        <path class="cls"
            d="M13.78,64a1.13,1.13,0,0,1-.78-.31L.31,51.34a1,1,0,0,1-.07-1.41l.07-.07L13,37.49a1.09,1.09,0,0,1,1.19-.23,1,1,0,0,1,.66,1v7.63H49.64a1.73,1.73,0,0,0,1.75-1.69V35.59a1,1,0,0,1,.31-.74l8.49-8.28a1.12,1.12,0,0,1,1.18-.23,1.07,1.07,0,0,1,.67,1V46c0,6.68-3.63,10.21-10.51,10.21H14.86V63a1,1,0,0,1-.67,1A1,1,0,0,1,13.78,64Z"
            transform="translate(0.02 0.03)" />
        <path class="cls"
            d="M3.05,37.75a1,1,0,0,1-.41-.09,1,1,0,0,1-.67-1V18C2,11.3,5.59,7.78,12.48,7.78H49.15V1.05a1.08,1.08,0,0,1,.67-1A1.1,1.1,0,0,1,51,.29L63.64,12.65a1,1,0,0,1,.07,1.41l-.07.07L51,26.49a1.08,1.08,0,0,1-1.18.23,1,1,0,0,1-.67-1v-7.6H14.36a1.71,1.71,0,0,0-1.72,1.69v8.61a1,1,0,0,1-.32.75l-8.5,8.26A1.06,1.06,0,0,1,3.05,37.75Z"
            transform="translate(0.02 0.03)" />
        </svg> -->
        <!-- repeat active ends -->
    
        <!-- previous button starts -->
        <!-- <svg id="Layer_1" *ngIf="previous" (click)="previousAudio()" data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 65.7" [ngStyle]="{ 'fill' : previousButtonColor ,width: '19px'}">
            <title>previous</title>
            <polygon class="cls-1" points="64.5 0.85 7.05 32.85 64.5 64.85 64.5 0.85" />
            <rect class="cls-1" x="0.5" y="0.85" width="13.52" height="64" />
        </svg> -->
    
        <!-- <svg id="Layer_1" (click)="play()" *ngIf="!isAudioPlaying" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 64 64" [ngStyle]="{ 'fill' : playButtonColor,width: '19px' }">
        <title>play</title>
        <path class="cls-1"
            d="M21.65,79.51A3.48,3.48,0,0,1,18,76.22V18.79a3.47,3.47,0,0,1,3.64-3.28L80.8,45s2.73,2.47,0,4.93S21.65,79.51,21.65,79.51Z"
            transform="translate(-18.01 -15.51)" />
        </svg> -->
        <svg (click)="play()" *ngIf="!isAudioPlaying" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
        </svg>
    
        <!-- <svg id="Layer_1" (click)="pause()" *ngIf="isAudioPlaying" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 64 64" [ngStyle]="{ 'fill' : pauseButtonColor,width: '19px' }">
        <title>pause</title>
        <g id="pause">
            <path class="cls-1" d="M16,82H37.33V18H16ZM58.67,18V82H80V18Z" transform="translate(-16 -18)" />
        </g>
        </svg> -->
        <svg (click)="pause()" *ngIf="isAudioPlaying" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"   class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
        </svg>
    
        
        <!-- <svg id="Layer_1" *ngIf="next" (click)="nextAudio()" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 64 64" [ngStyle]="{ 'fill' : nextButtonColor ,width: '19px'}">
            <title>next</title>
            <polygon class="cls-1" points="0 64 57.45 32 0 0 0 64" />
            <rect class="cls-1" x="50.48" width="13.52" height="64" />
        </svg> -->
    
        
        
        <div class="volume-container">
        <!-- with volume -->
        <!-- <svg id="volume" *ngIf="!isMute" (click)="muteAudio()" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 64 64" [ngStyle]="{ 'fill' : pauseButtonColor,width: '19px' }">
            <defs>
            <style>
                .cls-2 {
                fill: none;
                }
    
            </style>
            </defs>
            <title>volume-high</title>
            <path class="cls-1"
            d="M2.67,22.39V44.28H16.89L34.67,62.52V4.14L16.89,22.39Zm48,10.94a16.46,16.46,0,0,0-8.89-14.7V48A16.37,16.37,0,0,0,50.67,33.33Zm-8.89-32V8.85A25.49,25.49,0,0,1,59.56,33.33,25.5,25.5,0,0,1,41.78,57.82v7.51a32.65,32.65,0,0,0,24.89-32A32.66,32.66,0,0,0,41.78,1.33Z"
            transform="translate(-2.67 -1.33)" />
            <path class="cls-2" d="M22.67,21.33h24v24h-24Z" transform="translate(-2.67 -1.33)" />
        </svg> -->
    
        <svg id="volume" *ngIf="!isMute" (click)="muteAudio()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z" />
        </svg>
    
    
        <!-- <svg id="Capa_1" *ngIf="isMute" (click)="muteAudio()" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 64 64" [ngStyle]="{ 'fill' : muteButtonColor,width: '19px' }">
            <title>mute</title>
            <g id="volume-off">
            <path class="cls-1"
                d="M59,39.83a15.35,15.35,0,0,0-8.89-14.14v7.78L59,42.31Zm8.89,0A26.37,26.37,0,0,1,66.12,49l5.34,5.3A29.71,29.71,0,0,0,75,39.48,31.94,31.94,0,0,0,50.12,8.36v7.43C60.43,19.33,67.9,28.52,67.9,39.83ZM15.63,8,11,12.61,27.72,29.23H11V50.44H25.23L43,68.12V44.43L58.3,59.64a30,30,0,0,1-8.18,4.24V71.3a30.44,30.44,0,0,0,13.16-6.36L70.39,72,75,67.41,43,35.59ZM43,11.55,35.54,19,43,26.4Z"
                transform="translate(-11.01 -8.01)" />
            </g>
        </svg> -->
    
        <svg id="volume" *ngIf="isMute" (click)="muteAudio()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-4 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 9.75L19.5 12m0 0l2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6l4.72-4.72a.75.75 0 011.28.531V19.94a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.506-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.395C2.806 8.757 3.63 8.25 4.51 8.25H6.75z" />
        </svg>
          
    
        <div class="volume-control">
            <input type="range" max="100" value="{{audioVolume}}" (click)="$event.stopPropagation();"
            (input)="volumeChange($event)" [ngStyle]="{ 'background': volumeSliderColor }" class="slider"
            id="volumeRange">
        </div>
        </div>
    
    </div>
    <div class="details">
        <div class="slidecontainer">
        <input type="range" max="{{totalAudioLength}}" value="{{currentAudioTime}}"
            [ngStyle]="{ 'background': timeSliderColor }" (input)="seekAudio($event)" class="slider" id="myRange">
        <div class="time-line" [ngStyle]="{ 'color' : audioTimeColor }">
            <div>{{ currentAudioTime | timeConversion }}</div>
            <div>{{ totalAudioLength | timeConversion }}</div>
        </div>
        </div>
        <marquee *ngIf="scrollTitle" [ngStyle]="{ 'color' : audioTitleColor }">
        <p class="title"> {{selectedAudio?.title}}</p>
        </marquee>
        <p class="title" [ngStyle]="{ 'color' : audioTitleColor }" *ngIf="!scrollTitle"> {{selectedAudio?.title}}</p>
    </div>
    </div>
    </div>
    