<div  class="absolute h-screen w-full flex justify-center items-center top-0 right-0 bg-black bg-opacity-60">
    <div class="bg-white w-1/3 h-3/4 flex flex-col justify-between items-center pt-4 rounded-lg">
        <div class="h-1/2">
            <img class="max-h-full rounded-3xl" src="https://images.pexels.com/photos/6954162/pexels-photo-6954162.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
        </div>
        <div>
            <h1 class="font-bold text-lg">Podcast Title</h1>
            <p class="text-sm text-gray-500">Amine Mesbahi</p>
        </div>
        <app-audio></app-audio>
        <div class="bg-gray-50 w-2/3 p-4 pb-2 rounded-t-2xl text-sm font-semibold text-justify ">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio similique ab odio deserunt labore quasi alias laborum laboriosam, hic non fugiat cupiditate illo commodi debitis minus. Omnis ex rerum quidem.</p>
        </div>
        <div class="w-full flex justify-end p-4 text-sm">
            <button class="border p-1 px-3 mr-2">Cancel</button>
            <button class="border p-1 px-3 mr-2">Reject</button>
            <button class="border border-blue-900 p-1 px-3 mr-1 bg-blue-900 text-white rounded-sm hover:text-blue-900 hover:bg-white">Accept</button>
        </div>
    </div>
    <div (click)="close()" class="absolute top-2 right-2 text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </div>
</div>