<div class=" h-32  m-auto mt-5 grid grid-cols-4 grid-rows-1 border border-t-0 border-l-0 border-r-0 text-gray-800" style="width:80%;">
    <div class="flex ">
        <img src="../../assets/Techtalk.png" class="w-48 h-28" alt="">  
    </div>
    <div class="col-span-2 flex flex-col justify-between  pt-3 pb-4">
        <p class="font-extrabold">ESNP</p>
        <h1 class="capitalize font-black text-2xl">first take</h1>
        <h1 class="text-gray-600 text-sm font-bold">Hosted by: <span class="text-gray-900">Amine Mesbahi, Amine Mesbahi, Amine Mesbahi</span> </h1>
    </div>
    <div class="flex items-center justify-between ">
        <button class="md:p-3 md:px-8 border border-black bg-black flex text-white font-bold bg-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
            </svg>
            play
        </button>

        <button class="md:p-3 md:px-4 border border-black font-bold bg-transparent">
            subscribe
        </button>
    </div>
    
</div>
