<nav *ngIf="!isAuthPage" class="bg-white  md:w-4/5 md:m-auto">
    <div class="mx-auto border-b border-gray-200 max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 justify-between">
        <div class="flex">
            <div class="-ml-2 mr-2 flex items-center md:hidden">
            <!-- Mobile menu button -->
            <button (click)="openNavBar=!openNavBar" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            </div>
            <div class="flex flex-shrink-0 items-center text-blue-900" >
                <!-- <div class="w-8 h-8 border border-dashed border-blue-900 rounded-full mr-1"></div> -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
                </svg>
                <h1 class=" text-blue-900 font-semibold tracking-wide " style="letter-spacing: 3px;">TECH TALK</h1>
            </div>
            <div class="hidden md:ml-12 md:flex md:space-x-8">
            <a routerLink="discover" class="inline-flex items-center font-extrabold px-1 pt-1 text-sm  text-gray-900">Discover</a>
            <a href="#" class="inline-flex items-center font-bold px-1 pt-1 text-sm  text-gray-900">Blog</a>
            <a routerLink="contact" class="inline-flex items-center font-bold px-1 pt-1 text-sm  text-gray-900">Contact</a>
        </div>
    </div>
    <div class="flex items-center">
        <div class="flex-shrink-0">
        </div>
        <div *ngIf="isLoggedIn" class="hidden md:ml-4 md:flex md:flex-shrink-0 md:items-center">
                <a href="#" class="inline-flex items-center font-bold px-1 pt-1 text-sm text-indigo-700">Upgrade to Pro</a>
            
                <div class="relative ml-3">
                    <div>
                    <button (click)="openNavBar=!openNavBar" type="button" class="flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                        <span class="sr-only">Open user menu</span>
                        <div class="w-10 h-10 bg-slate-200 rounded-full flex justify-center items-center">
                            <h1 class="text-base font-bold">AM</h1>
                        </div>
                    </button>
                    <div *ngIf="openNavBar" id="dropdown" class="z-10 absolute right-4 bg-white divide-y divide-gray-100 shadow w-44 ">
                        <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownDefaultButton"> 
                        <li>
                            <span (click)="logout()" class="block px-4 py-2 cursor-pointer hover:bg-gray-100 ">Sign out</span>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
        </div>
        <div *ngIf="!isLoggedIn" class="hidden md:ml-4 md:flex md:flex-shrink-0 md:items-center">
            <a routerLink="" class="inline-flex items-center font-bold px-1 pt-1 text-sm text-indigo-900">Login</a>
            <div class="relative ml-3">
                <button class=" border border-blue-900 pl-4 pr-4 pt-2 pb-2 text-white bg-blue-900 hover:bg-transparent cursor-pointer hover:text-indigo-900">
                    <h1 class="font-bold text-sm ">Register</h1>
                </button>
            </div>
        </div>
        </div>
        </div>
    </div>
    
    <!-- Mobile menu, show/hide based on menu state. -->
    <div  *ngIf="openNavBar"  class="md:hidden" id="mobile-menu">
        <div class="space-y-1 pt-2 pb-3">
        <a href="#" class="block border-l-4  py-2 pl-3 pr-4 text-base font-medium  sm:pl-5 sm:pr-6">Discover</a>
        <a href="#" class="block border-l-4  py-2 pl-3 pr-4 text-base font-medium  sm:pl-5 sm:pr-6">Blog</a>
        <a href="#" class="block border-l-4  py-2 pl-3 pr-4 text-base font-medium  sm:pl-5 sm:pr-6">Contact</a>
        </div>
        <div class="border-t border-gray-200 pt-4 pb-3">
        <div class="flex items-center px-4 sm:px-6">
            <div class="flex-shrink-0">
            <div class="w-10 h-10 bg-slate-200 rounded-full flex justify-center items-center">
                <h1 class="text-base font-bold">AM</h1>
            </div>
            </div>
            <div class="ml-3">
            <div class="text-base font-medium text-gray-800">Tom Cook</div>
            <div class="text-sm font-medium text-gray-500">tom@example.com</div>
            </div>
            <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            </button>
        </div>
        
        </div>
    </div>
    </nav>