<div>
<div class="w-11/12  m-auto">
    <h1 class="uppercase text-lg font-extrabold">podcasters</h1>
</div>
<div style="height: 87vh;" class="relative overflow-x-auto shadow-md w-11/12 p-4 m-auto mt-10">
    <div class="flex items-center justify-between pb-4 bg-white ">
        <div class="flex w-max">
            <div>
                <button (click)="openAction=!openAction" id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="inline-flex items-center text-gray-500 bg-white border focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 " type="button">
                    <span class="sr-only">Action button</span>
                    Action
                    <svg class="w-3 h-3 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
                <!-- Dropdown menu -->
                <div *ngIf="openAction" id="dropdownAction" class="z-10 absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-44 ">
                    <ul class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownActionButton">
                        <li>
                            <span (click)="action(1)" class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">Accept</span>
                        </li>
                        <li>
                            <span (click)="action(-1)"  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">Reject</span>
                        </li>
                    </ul>
                    <div class="py-1">
                        <span (click)="action(-2)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">Block</span>
                    </div>
                </div>
            </div>

            <div class="ml-3">
                <button (click)="openFilter=!openFilter" id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="inline-flex items-center text-gray-500 bg-white border focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 " type="button">
                    <span class="sr-only">Action button</span>
                    {{filterValue}}
                    <svg class="w-3 h-3 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                </button>
                <div *ngIf="openFilter" id="dropdownAction" class="z-10 absolute bg-white divide-y divide-gray-100 rounded-lg ml-10 shadow w-44 ">
                    <ul class="py-1 text-sm text-gray-700 " aria-labelledby="dropdownActionButton">
                        <li>
                            <span (click)="getPodcasters(1,'Accepted')" class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">Accepted</span>
                        </li>
                        <li>
                            <span (click)="getPodcasters(-1,'Rejected')"  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">Rejected</span>
                        </li>
                        <li>
                            <span (click)="getPodcasters(0,'Pending')"  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">Pending</span>
                        </li>
                    </ul>
                    <div class="py-1">
                        <span (click)="resetPodcaster()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">All</span>
                    </div>
                </div>
            </div>

        </div>



        




        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 " aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="table-search-users" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search for users">
        </div>
    </div>
    <table class="w-full text-sm text-left text-gray-500 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="p-4">
                    <!-- <div class="flex items-center">
                        <input id="checkbox-all-search"  type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500  focus:ring-2">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div> -->
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Linekdin Profile
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone Number
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let podcaster of podcasters" class="bg-white border-b hover:bg-gray-50">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-1" (click)="addPodcasterToAction(podcaster.id)" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap ">
                    <img class="w-10 h-10 rounded-full" [src]="url+podcaster.profilePic" alt="Jese image">
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{podcaster.name}}</div>
                        <div class="font-normal text-gray-500">{{podcaster.email}}</div>
                    </div>  
                </th>
                <td class="px-6 py-4">
                    <a class="text-blue-900 underline capitalize hover:no-underline" [href]="'https://www.linkedin.com/in/'+podcaster.linkedinProfile" target="_blank">{{podcaster.name}}</a>
                </td>
                <td class="px-6 py-4">
                    {{podcaster.email}}
                </td>
                <td class="px-6 py-4">
                    {{podcaster.phoneNumber}}
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        <span *ngIf="podcaster.verified==0" class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-blue-500 mr-2"></div>Pending</span>
                        <span *ngIf="podcaster.verified==1" class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> verified</span>
                        <span *ngIf="podcaster.verified<0" class="flex items-center"><div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>not verified</span>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

</div>




<div *ngIf="showConfirmation" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div  class="relative ml-56 inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
    <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
        <button type="button" class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span class="sr-only">Close</span>
        
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        </button>
    </div>
    <div class="sm:flex sm:items-start">
        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
        
        <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        </div>
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Deactivate account</h3>
        <div class="mt-2">
            <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All of your data will be permanently removed from our servers forever. This action cannot be undone.</p>
        </div>
        </div>
    </div>
    <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
        <button (click)="confirm()" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">Confirm</button>
        <button (click)="showConfirmation=false" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">Cancel</button>
    </div>
    </div>
</div>
</div>
