<div class="fixed bottom-0 drop-shadow-2xl bg-white w-2/3 h-48 grid grid-cols-12">
    <audio controls #audioPlayer >
        <source [src]="selectedAudio">
    </audio>
    <div class="p-2 col-span-3">
        <img class="h-full" src="https://images.pexels.com/photos/6883810/pexels-photo-6883810.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"/>
    </div> 
    <div class="h-full col-span-9 ">
        <div class="col-span-8 p-4 flex flex-col justify-around">
            <h1 class="font-bold text-3xl">Libero Quos Sed Est</h1>
            <h1>08/03/2023</h1>
        </div>
        <div class="h-3/6 w-full grid grid-cols-12 items-center p-3 ">
    
            <div class="border rounded-full w-11 h-11 border-black flex justify-center items-center">
                <svg (click)="play()" *ngIf="!isAudioPlaying" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
                </svg>
                <svg (click)="pause()" *ngIf="isAudioPlaying" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"   class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                </svg>
            </div>
    
            <div class="slidecontainer col-span-7">
                <input type="range" max="{{totalAudioLength}}" value="{{currentAudioTime}}"
                    [ngStyle]="{ 'background': timeSliderColor }" (input)="seekAudio($event)" class="slider" id="myRange">
            </div>
            <div class="flex col-span-2 text-sm font-medium text-gray-400">
                <p>{{ currentAudioTime | timeConversion }}</p> / <p>{{ totalAudioLength | timeConversion }}</p>
            </div>
            
            <div id="volumeContainer" class="flex col-span-2">
                <svg id="volume" *ngIf="!isMute" (click)="muteAudio()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z" />
                </svg>
            
            
                <svg id="volume" *ngIf="isMute" (click)="muteAudio()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 ml-4 ">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 9.75L19.5 12m0 0l2.25 2.25M19.5 12l2.25-2.25M19.5 12l-2.25 2.25m-10.5-6l4.72-4.72a.75.75 0 011.28.531V19.94a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.506-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.395C2.806 8.757 3.63 8.25 4.51 8.25H6.75z" />
                </svg>
            
                <div class="volume-control ">
                    <input type="range" max="100" value="{{audioVolume}}" (click)="$event.stopPropagation();"
                    (input)="volumeChange($event)" [ngStyle]="{ 'background': volumeSliderColor }" class="slider"
                    id="volumeRange">
                </div>
            </div>
        </div>
    </div>

</div>