<div class="flex min-h-full h-screen">
    
    <div class="relative hidden w-1/2 flex-1 lg:block">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://txb.gs.com/cx/eb155ca3c62f12fad509.svg" style="background-color: #00355f;background-size: cover;
        background-position: right bottom;
        background-repeat: no-repeat;" alt="">
    </div>
    <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
            <!-- <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
            <h1 class="font-bold text-5xl text-blue-900 flex items-end" style="letter-spacing: 2px;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-11 h-11 mb-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
                </svg>
                <h1 style="letter-spacing: 4px;">
                    TECH TALK 
                </h1>
            </h1>
            <h2 class="mt-6 text-lg font-bold tracking-tight text-gray-900 capitalize">Join the Tech Talk podcasters</h2>
            
        </div>
    
        <div class="mt-8">
            <div class="mt-8 font-bold ">
            <form (ngSubmit)="register()" [formGroup]="registerForm"  class="space-y-6 ">
                <div class="w-full flex justify-between">
                    <div>
                        <label for="firstName" class="block text-base font-bold text-gray-700">First name</label>
                        <div class="mt-1">
                            <input id="firstName" formControlName="firstName"  name="firstName" type="text" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 text-base shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <div>
                        <label for="lastName" class="block text-base font-bold text-gray-700">Last name</label>
                        <div class="mt-1">
                            <input id="lastName" formControlName="lastName" name="lastName" type="text" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 text-base shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>    
                </div>
                <div>
                    <label for="linkedin" class="block text-base font-bold text-gray-700">Your linkedin profile</label>
                    <div class="mt-1">
                        <input id="linkedin" formControlName="linkedin" name="linkedin" type="text" placeholder="/linkedin-name" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 text-base shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    </div>
                </div>
                    <div>
                <label for="email" class="block text-base font-bold text-gray-700">Email address</label>
                <div class="mt-1">
                    <input id="email" formControlName="email" name="email" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 text-base shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
                </div>
    
                <div class="space-y-1">
                <label for="password" class="block text-base font-bold text-gray-700">Password</label>
                <div class="mt-1">
                    <input id="password" formControlName="password" name="password" type="password" autocomplete="current-password" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2  placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                </div>
                </div>
    
                
    
                <div>
                <button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-blue-900 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    <h1 *ngIf="!sendingRequest"> Create Your Account</h1>
                    <div *ngIf="sendingRequest" role="status">
                        <svg aria-hidden="true" class="inline w-6 h-6 mr-2 text-gray-200 animate-spin  fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>

                
                </button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>


<div *ngIf="showRegisterAlert" (click)="showRegisterAlert=!showRegisterAlert" class="w-screen h-screen absolute top-0 flex pt-5 pl-3 ">
    <div id="alert-additional-content-1" class="text-sm font-medium p-4 mb-4 h-max text-blue-900 border border-white bg-blue-50" role="alert">
        <div class="flex items-center">
            <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <h3 class="text-lg font-medium">This is a info alert</h3>
        </div>
        <div class="mt-2 mb-4 text-sm">
            we receive your request and send you an email or contact you so that you can be verified as a podcaster so that you can then access your account through the <a routerLink="discover" class="font-semibold underline hover:no-underline cursor-pointer ">login page</a> .
        </div>
        <div class="flex">
            <button type="button" class="text-white bg-blue-900 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center ">
            <svg aria-hidden="true" class="-ml-0.5 mr-2 h-4 w-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path><path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"></path></svg>
            View more
            </button>
            <button type="button" class="text-blue-900 bg-transparent border border-blue-900 hover:bg-blue-800 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium  text-xs px-3 py-1.5 text-center" data-dismiss-target="#alert-additional-content-1" aria-label="Close">
            close
            </button>
        </div>
    </div>
</div>