<div class="w-full h-max mt-10 text-gray-800 ">
    <section class="w-full md:h-full ">
        <h1 class="font-bold md:text-8xl">DISCOVER OUR</h1>
        <div class="flex items-start">
            <img src="https://images.pexels.com/photos/6883810/pexels-photo-6883810.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"   class="w-7/12 h-60 " alt="">
            <h1 class="font-bold md:text-8xl">PODCASTS</h1>
        </div>
        <!-- <div class="h-max w-max m-auto text-lg font-semibold">    
            <p>Yes to inclucivity. Yes to </p>
            <p>interconnectedness</p>
            <p>Yes to community</p>
            <p>Not to rules.</p>
        </div> -->
    </section>




<div class="mx-auto w-3/4  mt-10 mb-16 border p-6 ">
    <div>
        <div class="text-center">
        <h2 class="mt-2 text-lg font-medium text-gray-900">Search For Your Best Podcaster</h2>
        <p class="mt-1 text-sm text-gray-500">You haven’t added any team members to your project yet.</p>
        </div>
        <div class="mt-6 sm:flex sm:items-center" >
        <label for="emails" class="sr-only">Email addresses</label>
        <div class="relative rounded-md shadow-sm sm:min-w-0 sm:flex-1">
            <input type="text"  (keyup)="searchPodcaster()"  [(ngModel)]="podcastSearchedName" name="emails" id="emails" class="focus:ring-indigo-500 border focus:border-indigo-500 block w-full pr-32 sm:text-sm border-gray-300 p-4" placeholder="Enter a podcaster ">
            <div class="absolute inset-y-0 right-0 flex items-center">
            <span class="h-4 w-px bg-gray-200" aria-hidden="true"></span>
            </div>
        </div>
        </div>
    </div>
    <div  class="h-max ">
        <div *ngIf="sendingRequest" class="grid grid-cols-4 gap-2 pt-3 ">
            <div class="h-56 border flex flex-col justify-between p-2 ">
                <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="2" appearance="line" animation="pulse"></ngx-skeleton-loader>
            </div>
            <div class="h-56 border flex flex-col justify-between p-2 ">
                <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="2" appearance="line" animation="pulse"></ngx-skeleton-loader>
            </div>
            <div class="h-56 border flex flex-col justify-between p-2 ">
                <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="2" appearance="line" animation="pulse"></ngx-skeleton-loader>
            </div>
            <div class="h-56 border flex flex-col justify-between p-2 ">
                <ngx-skeleton-loader appearance="circle"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="2" appearance="line" animation="pulse"></ngx-skeleton-loader>
            </div>
        </div>
        <div *ngIf="responseReceive" class="grid grid-cols-4 gap-2 pt-3">
            <a *ngFor="let podcaster of podcatserGetted"  href="#" class="relative border  block group h-56">
                <img
                    [src]="'https://storage.cloud.google.com/tech-talk-b9bba.appspot.com/'+podcaster.profilePic"
                    alt=""
                    class="h-full object-cover transition duration-500 group-hover:opacity-90 "
                />
                
                <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
                    <h3 class="text-xl font-medium text-white">{{podcaster.name}}</h3>
                </div>
            </a>
        </div>

    </div>
</div>








    <div class="w-full h-56 mt-11">
        <div>
            <h1 class="uppercase font-extrabold text-3xl">discussions on the backend </h1>
            <p class="w-2/3 font-semibold ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur amet at ex, culpa, quo minima perspiciatis, natus rerum earum accusamus maiores enim alias veniam perferendis! Quod recusandae veritatis iste omnis.</p>
            <div class="border-t-2 mt-7">
                <div *ngFor="let podcast of recentPodcasts">
                    <app-podcast-interface [podcast]="podcast"></app-podcast-interface>
                </div>
            </div>
    </div>


    



</div>