<div *ngIf="!showTheFooter" class="max-w-7xl h-48 m-auto mt-72 mb-8 p-3 border-t  text-blue-900 flex flex-col justify-around border-gray-300 ">
    <h1 class="text-4xl "><span class="font-bold">Contact</span> now!</h1>
    <a href="#" class="font-semibold overline ">contact</a>
    <div class="w-96 flex justify-between">
        <h1 class="text-gray-400">Follow us</h1>
        <div class="w-3/5 flex justify-between font-semibold text-blue-900">
            <span>Facebook</span>
            <span>Twitter</span>
            <span>Linkedin</span>
        </div>
    </div>
    <h1 class="text-gray-400 text-base">© Copyright 2023 TECH TALK. Designed by Mesbahi.</h1>
</div>